<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CRUD Artículos con JSP y Servlet </display-name>
  <context-param>
    <param-name>jdbcURL</param-name>
    <param-value>jdbc:mysql://localhost:3306/globalcampo</param-value>
  </context-param>
  <context-param>
    <param-name>jdbcUsername</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>jdbcPassword</param-name>
    <param-value></param-value>
  </context-param>
  
      <servlet>
        <servlet-name>SERVLOGIN</servlet-name>
        <servlet-class>com.ivanp.globalcampo.controller.SERVLOGIN</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SERVLOGIN</servlet-name>
        <url-pattern>/SERVLOGIN</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>